{% extends "base.html" %} {% load i18n static %} {% block container %}
<div class="container">
    <h2>Remover Cadastro</h2>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}" ?</p>
        <input type="submit" class="btn btn-danger" value="Delete" />
    </form>
</div>

{% endblock %}