{% extends "base.html" %} {% load i18n static %} {% block container %}
<main role="main" class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>VIEW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
    </thead>

    <tbody>
      {% for sale in object_list %}
      <tr>
        <td>{{sale.name}}</td>
        <td><a href="{% url "view" sale.id %}">view</a></td>
        <td><a href="{% url "edit" sale.id %}">edit</a></td>
        <td><a href="{% url "delete" sale.id %}">delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br>
  <a class="btn btn-success" href="{% url "new" %}">Novo</a>
</main>
{% endblock %}