{% extends "base.html" %} {% load i18n static %} {% block container %}
<div class="container">
    <form action="" enctype="multipart/form-data" method="post">
        {{ form.as_table }} {% csrf_token %}
        <br>
        <br>
        <button class="btn btn-success" type="submit" value="Upload">Salvar</a>
    </form>
</div>

{% block body %} {% endblock %} {% endblock %}