{% extends "base.html" %} {% load i18n static %} {% block container %}
<div class="container">
  <h2>Empresa : {{object.name}}</h2><br><br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Produtos</th>
        <th scope="col">Categorias</th>
        <th scope="col">Unidades vendidas no mês</th>
        <th scope="col">Preço de custo</th>
        <th scope="col">Total da venda</th>
      </tr>
    </thead>
    <tbody>
      {% for sale in company.sale_set.all %}
      <tr>
        <td id="product">{{sale.product}}</td>
        <td>{{sale.category}}</td>
        <td>{{sale.units_sold}}</td>
        <td>{{sale.cost_price}}</td>
        <td>{{sale.total_sale}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}