{% extends "base.html" %} {% load i18n static %} {% load pagination %} {% block container %}

<main role="main" class="container">
  <div class="starter-template">
    <a type="button" class="btn btn-primary" href="{% url 'new' %}">Novo cadastro</a>
    <br>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Empresa</th>
          <th scope="col">Produtos</th>
          <th scope="col">Categorias</th>
          <th scope="col">Unidades vendidas no mês</th>
          <th scope="col">Preço de custo</th>
          <th scope="col">Total da venda</th>
        </tr>
      </thead>
      <tbody>
        {% for sale in sales %}
        <tr>
          <td><a href="{% url "view" sale.company_id %}">{{sale.company}}</a></td>
          <td>{{sale.product}}</td>
          <td>{{sale.category}}</td>
          <td>{{sale.units_sold}}</td>
          <td>{{sale.cost_price}}</td>
          <td>{{sale.total_sale}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% pagination request paginator page_obj %} {% endblock %}
  </div>
</main>