{% extends "base.html" %} {% load i18n static %} {% load widget_tweaks %} {% block container %}

<main role="main" class="container">
    <h1>Cadastrar</h1>

  <form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
      {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
        <div class="col-md-9">
          {% render_field field class='form-control' %} {% for error in field.errors %}
          <span class="text-danger" >{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <div class="form-group">
        <div class="col-md-9 col-md-offset-3">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </div>
    </fieldset>
  </form>

</main>
{% endblock %}