{% load static %}
<html lang="en">
<title>{% block title %}Django Sales{% endblock %}</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
<!-- Fixed navbar -->

<body>
    {% if user.is_authenticated %}
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm navbar-dark bg-dark ">
        <h5 class="my-0 text-white mr-md-auto font-weight-normal"> <a href="{% url 'list_all' %}"> Sistema </a></h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-white" href="{% url 'list' %}">Empresas</a>
            <a class="p-2 text-white" href="{% url 'list_all' %}">Vendas & Empresas</a>
        </nav>
        <a class="btn btn-outline-primary" href="{% url 'logout' %}">Sair</a>
        {% endif %}
    </div>
    <br>
    <br>
</body>
<div class="container">
    {% block messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
        </div>
    {% endfor %} {% endblock %} {% block container %} {% endblock %}
</div>
</main>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/style.js' %}"></script>

</body>
{% block js %} {% endblock %}