{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Entra | {{ block.super }} {% endblock %}

{% block  container %}
<link href="{% static 'css/style.css' %}" rel="stylesheet" />

<div class="container">
        <div class="card card-container">
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" method="post">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        {% endfor %}
                        <fieldset>
                            <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                              <label for="{{ form.username.auto_id }}" class="col-md-4 control-label">{{ form.username.label }}</label>
                              <div class="">
                                {% render_field form.username class="form-control" %}
                                {% for error in form.username.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                              </div>
                            </div>
                            <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                              <label for="{{ form.password.auto_id }}" class="col-md-4 control-label">{{ form.password.label }}</label>
                              <div class="">
                                {% render_field form.password class="form-control" %}
                                {% for error in form.password.errors %}
                                <span class="help-block">{{ error }}</span>
                                {% endfor %}
                              </div>
                            </div>
                            <div class="form-group">
                              <div class=" col-md-offset-6">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                              </div>
                            </div>
                        </fieldset>
                    </form>
        </div>
</div>

{% endblock %}