{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Entra | {{ block.super }} {% endblock %}

{% block  container %}
<div class="container">
    <p><a href="{% url 'login' %}">Acessar novamente</a></p>
</div>
{% endblock %}