<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% for page in paginator.page_range %}
        <li class="page-item" {% if page_obj.number == page %} class="active" {% endif %}><a class="page-link" href="?page={{ page }}{{ getvars }}">{{ page }}</a></li>
        {% endfor %}
    </ul>
</nav>